* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  width: 100px;
  background-color: black;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#new-grid-btn {
  padding: 0 0.5rem;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid black;
}

/* .square {
  border: 0.5px solid black;
} */

.square.hovered {
  background-color: palevioletred;
}