* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  width: 319px;
  height: 319px;
  margin-top: 40px;
  margin-left: 20px;
}

.square {
  width: 18px;
  height: 18px;
  border: 0.5px solid black;
}

.square.hovered {
  background-color: palevioletred;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}