* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sidebar {
  width: 200px;
  position: absolute;
  left: 30px;
  top: 80px;
  bottom: 80px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 15px;
}

.sidebar .menu {
  font-size: 1rem;
}

.sidebar .item {
  font-size: 0.8rem;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* #new-grid-btn {
  
} */

.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid lightgray;
}

/* .square {
  border: 0.5px solid black;
} */

.square.hovered {
  background-color: palevioletred;
}