* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sidebar {
  width: 200px;
  position: absolute;
  left: 30px;
  top: 80px;
  bottom: 80px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px;
  font-family: "Helvetica", sans-serif;
  color: #555555;
}

.sidebar .menu {
  font-size: 1rem;
  font-weight: 400;
}

.title {
  font-size: 0.7rem;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#userInput {
  width: 87px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  padding: 1.5px
}

input::placeholder {
  color: #555555;
}

.bgOptions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 81px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.option {
  width: 15px;
  height: 15px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.optTwo {
  background-color: #555555;
}

.divider {
  width: 1px;
  height: 50%;
  background-color: lightgray;
}

.choice {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.hovered {
  border-color: navy;
}

.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#myColorPicker {
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.fill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 5px;
}

.fillBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.empty {
  width: 12px;
  height: 12px;
  border: 1px solid #3A3A3E;
  border-radius: 0.1rem;
}

.grid {
  width: 12px;
  height: 12px;
  border: 1px solid #3A3A3E;
  border-radius: 0.1rem;
  position: relative;
  box-sizing: border-box;
}

.grid::before,
.grid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #3A3A3E;
}

.grid div,
.grid span {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #3A3A3E;
}

.grid::before {
  left: 2.5px;
}

.grid::after {
  left: 6.5px;
}

.grid div:nth-child(1) {
  top: 2.5px;
}

.grid div:nth-child(2) {
  top: 6.5px;
}

.square {
  border: 0.5px solid lightgray;
}

.hide-grid {
  border: none;
}

.actionBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 5px;
}

.act {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

#undo,
#redo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A3A3E;
}

.undo-icon,
.redo-icon {
  width: 16px;
  height: 16px;
}

#clear {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #3A3A3E;
}

.clear-icon {
  width: 18px;
  height: 18px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid lightgray;
}