* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid black;
}

.square {
  border: 0.5px solid black;
}

.square.hovered {
  background-color: palevioletred;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#new-grid-btn {
  padding: 0 0.5rem;
}