* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafefa;
}

.frame {
  width: 900px;
  height: 650px;
  border: 1px solid #f5f5f9;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.main {
  margin-top: 50px;
}

.header {
  position: absolute;
  bottom: 100%;
  margin-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

.game {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
  color: #6965d4;
}

.color {
  margin-top: 5px;
  font-size: 1rem;
  color: #020060;
}

/* .p {
  color: red;
}

.i {
  color: orange;
}

.x {
  color: #ffdb29;
}

.e {
  color: #a6ff00;
}

.l {
  color: #2986ff;
} */

#sidebar {
  position: absolute;
  top: 20%;
  left: auto;
  right: 100%;
  margin-right: 45px;
  width: 110px;
  height: 280px;
  border: 1px solid #f5f5f9;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-size: 0.6rem;
  font-weight: 400;
  color: #5b5b5e;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#userInput {
  font-size: 12px;
  width: 87px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
  padding: 1.5px
}

input::placeholder {
  color: #5b5b5e;
}

.bgOptions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 81px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

.option {
  width: 15px;
  height: 15px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

.optTwo {
  background-color: #7f7f7f;
}

.divider {
  width: 1px;
  height: 50%;
  background-color: #ececf4;
}

.choice {
  width: 20px;
  height: 20px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#myColorPicker {
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

.fill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 3px;
}

.fillBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

.empty {
  width: 12px;
  height: 12px;
  border: 1px solid #5b5b5e;
  border-radius: 0.1rem;
}

.grid {
  width: 12px;
  height: 12px;
  border: 1px solid #5b5b5e;
  border-radius: 0.1rem;
  position: relative;
  box-sizing: border-box;
}

.grid::before,
.grid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #5b5b5e;
}

.grid div,
.grid span {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #5b5b5e;
}

.grid::before {
  left: 2.5px;
}

.grid::after {
  left: 6.5px;
}

.grid div:nth-child(1) {
  top: 2.5px;
}

.grid div:nth-child(2) {
  top: 6.5px;
}

.square {
  border: 0.5px solid #ececf4;
}

.hide-grid {
  border: none;
}

.actionBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-top: 3px;
}

.act {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #ececf4;
  border-radius: 0.2rem;
}

#undo,
#redo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b5b5e;
}

.undo-icon,
.redo-icon {
  width: 16px;
  height: 16px;
}

#clear {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #5b5b5e;
}

.clear-icon {
  width: 18px;
  height: 18px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid #ececf4;
  background-color: white;
}