* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sidebar {
  width: 200px;
  position: absolute;
  left: 30px;
  top: 80px;
  bottom: 80px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px;
  font-family: "Helvetica", sans-serif;
  color: #555555;
}

.sidebar .menu {
  font-size: 1rem;
  font-weight: 400;
}

.title {
  font-size: 0.7rem;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#userInput {
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  padding: 1.5px
}

input::placeholder {
  color: #555555;
}

.bgOptions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 81px;
  height: 30px;
  margin-top: 5px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.option {
  width: 15px;
  height: 15px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.optTwo {
  background-color: #555555;
}

.divider {
  width: 1px;
  height: 50%;
  background-color: lightgray;
}

.choice {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.hovered {
  border-color: blue;
}

.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#myColorPicker {
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.fill {
  width: 60px;
  height: 20px;
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid lightgray;
}

.square {
  border: 0.5px solid lightgray;
}

.square.hovered {
  background-color: palevioletred;
}