* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

#container {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  width: 319px;
  height: 319px;
}

.square {
  width: 18px;
  height: 18px;
  border: 0.5px solid black;
}